body, html {
  width: 100vw;
  height: 100vh;
}

body, #game-content {
  background-color: var(--theme-primary) !important;
  color: var(--theme-contrast) !important;
}

#game-content {
  width: 100%;
  height: calc(100% - 64px);
  --ctrl-s: min(10vw, min(10vh, 64px));
  margin-right: var(--ctrl-s);
  position: relative;
  overflow: scroll;
}

.cell,
.bttn {
  cursor: pointer;
  position: absolute;
  border: 1px solid var(--theme-contrast);
  text-align: center;
}

.mode {
  position: fixed;
  top: 32px;
  left: 16px;
  width: var(--ctrl-s);
  height: var(--ctrl-s);
  font-size: calc(var(--ctrl-s)*0.7);
}

.cell.visible,
.bttn.selected {
  background-color: lightgray;
}

.cell.lost.mine {
  background-color: red;
}

.cell.lost.flag {
  background-color: orange;
}

.cell.lost.mineFlag,
.cell.win.mineFlag {
  background-color: greenyellow;
}

.gameOver {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
