html,
body,
#game-content {
  width: 100%;
  height: 100%;
  background-color: var(--theme-primary);
  color: var(--theme-contrast);
}

.cell,
.bttn {
  position: absolute;
  border: 1px solid var(--theme-contrast);
  text-align: center;
}

.bttn {
  position: fixed;
  background-color: var(--theme-primary);
  bottom: 8px;
}

.cell.visible,
.bttn.selected {
  background-color: lightgray;
}

.cell.lost.mine {
  background-color: red;
}

.cell.lost.flag {
  background-color: orange;
}

.cell.lost.mineFlag,
.cell.win.mineFlag {
  background-color: greenyellow;
}

.gameOver {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
